<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Description</th>
      </tr>
      <% for(var i = 0; i < data.length; i++) { %>
      <tr>
        <td><a href="/cars/<%= data[i]['id'] %>/edit"><%= data[i]["id"] %></a></td>
        <td><%= data[i]["make"] %></td>
        <td><%= data[i]["model"] %></td>
        <td><%= data[i]["year"] %></td>
        <td><%= data[i]["description"] %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
